{% extends 'base.html' %}
{% block content %}

<h1>Home</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est sequi eveniet culpa. Odit et dolor laboriosam perferendis perspiciatis. Recusandae beatae vitae consequuntur repudiandae facilis inventore perspiciatis in totam velit unde, cum soluta perferendis tenetur doloribus debitis nemo fugit corrupti qui pariatur sed nam. Iste autem laudantium quibusdam natus velit saepe dolores quasi voluptatum fugit, fuga, reprehenderit obcaecati molestiae mollitia quia amet! Assumenda dicta vitae perspiciatis repellendus, totam mollitia ipsam perferendis ea consectetur? Vero iusto perspiciatis expedita veniam cumque sunt nostrum ea explicabo, iste, quis corporis dolore odit eum ad magni id. Praesentium vitae omnis voluptatem, error illum sunt exercitationem tenetur!</p>

{% endblock content %}

